*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

/*===================NAVIGATION-BAR====================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px rgb(157, 157, 157);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}
.nav-bar ul{
    list-style: none;
}
.nav-bar ul li{
    position: relative; 
    float: left;
}
.nav-bar ul li a{
    font-size: 20px;
    padding: 5px;
    color: #333;
    display: block;
    font-weight: bold;
    transition: 0.3s;
    padding-right: 20px;
}
.nav-bar ul li a:before{
    content: '';
    position: absolute;
    background: #333;
    cursor: pointer;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.nav-bar ul li a:hover:before{
    width: 90%;
}
#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    display: none;
}
@media(max-width:991px){
    header{
    padding: 20px;
    }
    header label{
    display: initial
    }
    header .nav-bar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0,0,.1);
    display: none;
    }
    header .nav-bar ul li{
    width: 100%;
    }
    header .nav-bar ul li ul{
    position: relative;
    width: 100%;
    }
    #menu-bar:checked ~ .nav-bar{
    display: initial;
    }
}
/*=====================FORM======================*/ 

section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #d3d3d3;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    overflow: hidden;
    z-index: 2;
}
.login-form{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    width: 200%;
    height: 300px;
    border: 1px solid #33333300;
    box-shadow: 2px 2px 8px #888888;
    border-radius: 5px;
}
.registration-form{
    position: relative;
    width: 0 0px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    width: 200%;
    height: 600px;
    border: 1px solid #33333300;
    box-shadow: 2px 2px 8px #888888;
    border-radius: 5px;
}
.top{
    color: #333;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top a{
    font-weight: 500;
    color: #333;
    margin-left: 5px;
}
header{
    color: #333;
    font-size: small;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: block;
    gap: 5px;
}
.input-field{
    font-size: 15px;
    background-color:   #ffffffdb;
    color: #000000;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.482);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: grey;
}
.submit{
    font-size: 15px;
    font-family: 800;
    color: #333333;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: rgba(0, 85, 255, 0.233);
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(0, 85, 255, 0.323);
    box-shadow: 1px 5px 7px 1px rgba(142, 142, 142, 0.683);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #333;
}
.two label a:hover{
    color: #636161;
}
@media only screen and (max-width: 786px){
    .form-box{
        width: 100%;
        height: 500px;
    }
    .registration-form, .login-form{
        width: 100%;
        padding: 0 20px;
    }
    .registration-form, .two-forms{
        flex-direction: column;
        gap: 0;
    }
}
/*=====================FOOTER======================*/

footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #111;
    width: 100%;
    height: 220px;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em;
    color: #000000;
    opacity: 1;
}
.social-icons a:hover{
    background-color: #111;
    transition: 0.5s ease;
}
.social-icons a:hover i{
    color: #fff;
    transition: 0.5s ease;
}
.navbar{
    margin: 30px 0;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar li{
    list-style: none;
}
.navbar ul li a{
    color: #fff;
    margin: 2px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.2;
    transition: 0.5s ease;
    list-style: none;
    padding-left: 20px;
}
.navbar ul li a:hover{
    opacity: 2;
}
.designer{
    padding: 20px;
    text-align: center;
    color: #fff ;
}
.lst{
    color: #fff;
}
@media (max-width:100px){
    .navbar ul{
        flex-direction: column;
    }
    .navbar ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}